@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --color-text: color: rgba(255, 255, 255, 0.87);
  --color-bg-dark: #242424;
  --color-secondary: #646cff;
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  background-color: var(--color-secondary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

li .active {
  border-color: var(--color-secondary);
}

li .active {
  color: var(--color-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, li a {
  display: block;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, a:hover {
  border-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.scrollbar-container {
  scrollbar-width: thin;
}

.MuiPaper-root {
  background-color: var(--color-bg-dark) !important;
  color: var(--color-text) !important;
}

.palette.primary {
  color: var(--color-text) !important;
  background-color: var(--color-text) !important;

}

.pagination {
  display: flex;
  margin: 35px auto;
  column-gap: 10px;
}

.pagination li {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 900px) {
  .header-nav {
    display: none;
    flex-direction: column;

  }

  .header-nav ul {
    flex-direction: column;
  }
}
