@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-text: color: rgba(255, 255, 255, 0.87);
  --color-bg-dark: #242424;
  --color-secondary: #646cff;
  --color-bg-button: #1a1a1a;
  --color-border-button: #464646;

  --color-border-input: #464646;
  --color-bg-input: #1a1a1a;

  --color-bg-alert: #333333;

  --color-error: #ef4444;
  --color-red-delete: #EE204D;
}

.sun-editor .se-toolbar {
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  background-color: var(--color-secondary);
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

li .active {
  border-color: var(--color-secondary);
}

li .active {
  color: var(--color-secondary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 1.5;
}

input:not([type='file']),
button,
li a {
  display: block;
  border-radius: 8px;
  border: 1px solid var(--color-border-input);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--color-bg-input);
  transition: border-color 0.25s;
}

button:hover,
a:hover {
  border-color: var(--color-secondary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.scrollbar-container {
  width: 150px;
  overflow: auto;
  /* scrollbar-width: thin; */
}

.scrollbar-container::-webkit-scrollbar {
  width: 25px;
}

.scrollbar-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(253, 38, 38, 0.3);
}

.scrollbar-container::-webkit-scrollbar-thumb {
  background-color: rgb(187, 0, 156);
  outline: 5px solid rgb(0, 128, 255);
}

.MuiPaper-root {
  background-color: var(--color-bg-alert) !important;
  color: var(--color-text) !important;
}

.palette.primary {
  color: var(--color-text) !important;
  background-color: var(--color-text) !important;
}

.pagination {
  display: flex;
  margin: 35px auto;
  column-gap: 10px;
}

.pagination li {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.categorys-select {
  z-index: 10;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 900px) {
  .header-nav {
    display: none;
    flex-direction: column;
  }

  .header-nav ul {
    flex-direction: column;
  }
}
